.content {
  visibility: hidden;
  opacity: 0;

  animation-name: show;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  animation-timing-function: ease;
}

@keyframes show {
  to {
    visibility: visible;
    opacity: 1;
  }
}
